@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #000;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  overflow: hidden;
  z-index: 2;
}

#indicators-carousel {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 600px;
  width: auto;
  top: 75px;
  bottom: 75px;
  position: relative;
  overflow: hidden;
}

.images-container {
  height: 600px;
}

.introduction-section {
  height: 600px;
  top: 100px;
  background-color: whitesmoke;
}
